{% extends 'h_base__.html' %}

{% block title %}用户{% endblock %}


{% block css %}
<style type="text/css">
    .sw-40 {
            width: 80px;
        }
        .table a{
            text-decoration: none;
        }
</style>

{% endblock %}

{% block content %}
<div class="container-fluid text-c mt-20">
    <div class="btn-group">
        <span id="blogs" class="btn btn-default radius sw-40">日志</span>
        <span id="comments" class="btn btn-default radius sw-40">评论</span>
        <span id="users" class="btn btn-warning radius sw-40">用户</span>
        <span id="mzt" class="btn btn-default radius sw-40">MZiTu</span>
        <span id="mht" class="btn btn-default radius sw-40">MHuaTai</span>
    </div>
    <!-- 错误提示消息 -->
    <div style="height: 40px" class="mt-5 mb-5" id="errorMsg">
    </div>



    <table class="table table-border table-bg table-hover">
        <thead>
        <tr>
            <th>头像/名称</th>
            <th>登录邮箱地址</th>
            <th>创建时间</th>
        </tr>
        </thead>

        <tbody>

        {% for user in users %}
        <tr>
            <td>
                <img class="avatar size-M radius" src="{{ user.image }}">
                <span>&nbsp;&nbsp;&nbsp;{{user.name}}</span>
                {% if user.admin %}
                <span style="color: #d05"><i class="icon Hui-iconfont Hui-iconfont-hot f-16"></i>管理员</span>
                {% endif %}
            </td>
            <td>
                <span>{{user.email}}</span>
            </td>
            <td>
                <span>{{user.created_at|showtime}}</span>
            </td>

        </tr>
        {% endfor%}
        </tbody>

    </table>
    {{ pagination('/?page=', page) }}
</div>


{% endblock %}

{% block js %}
<script type="text/javascript">

    function showErrorMsg(msg) {
        if(!msg){
            msg = '操作成功!';
        }
        var content ='<div class="Huialert Huialert-success"><i class="Hui-iconfont" onclick="closeErrorMsg()"></i><span class="c-red">'+msg+'</span></div>';
        $('#errorMsg').html(content);
    }

    function closeErrorMsg() {
        $('#errorMsg').html('');
    }


    $('span.sw-40').on('click', function () {
       var name = $(this).attr('id');
       location.assign('/auth/manage/'+name+'.html');
    });

</script>
{% endblock %}