{% extends 'h_base__.html' %}

{% block title %}MHuaTai{% endblock %}


{% block css %}
<style type="text/css">
    .travel-pic {
        width: 1020px;
    }

    .travel-pic li {
        display: inline;
        float: left;
        margin-right: 20px;
        overflow: hidden;
        width: 235px;
    }

    .travel-pic img {
        border: 0;
        width: 240px;
        height: 300px;
        vertical-align: top;
        display: block;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }

    .travel-pic a:hover img {
        transform: scale(1.04, 1.04);
        -ms-transform: scale(1.04, 1.04);
        -webkit-transform: scale(1.04, 1.04);
    }

    .plot-a a {
        text-decoration: none;
    }

    .d-wh{
        width: 140px;
        height: 140px;
    }

</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-9 col-sm-9-3 t-15 text-c f-26 mt-10">
        <span style="display: block;border-bottom: dashed #333 2px">《{{comic_info.name}}》</span>
    </div>
    <!-- 章节信息-->
    <div class="col-md-9 mt-15" id="section_area">

        {% for s in comic_section %}
        <div class="album-item col-md-2 col-sm-2 mt-5" ><a style="text-decoration: none" name="{{s.id}}" title="{{s.title}}">
            <div class="album-img">
                <img  class="waitLoad d-wh"
                {% if s.href %}
                    data-original="{{s.href}}"
                {% else %}
                   src="/static/ui/img/404.png"
                {% endif %}
                >
            </div>
            <div class="album-title text-overflow"><span class="c-999 f-10" >{{s.title}}</span></div>
            <div class="album-bg">
                <div class="album-bg-Fir"></div>
                <div class="album-bg-Sec"></div>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>
    <!-- 章节信息 END-->
    <!-- 漫画信息 -->
    <div class="col-md-3  visible-lg radius" id="comic_area">
        <div class="col-md-12 mt-10" style="position: fixed;top:50px">
            <div class="comic_img" style="margin:0 auto; overflow:hidden">
                <ul class="travel-pic">
                    <li><a>
                        <div class="maskWraper radius">
                            <img name="{{comic_info.id}}" src="{{comic_info.pic_url}}">

                            <div class="maskBar text-c" style="width: inherit">{{comic_info.pic_title}}</div>
                        </div>
                    </a>
                    </li>

                </ul>
            </div>
            <div class="comic_info mt-5" style="width: 240px;height: 65px;">
                <div style="min-height: 40px">
                    <div class="f-l">
                        <h5 class="plot-a comic-name"><a name="{{comic_info.id}}">《{{comic_info.name}}》</a></h5>

                    </div>

                    <div class="f-r">
                        <div class="c-orange pt-10 pr-20 plot-a" data-trigger="hover" data-container="body"
                             data-toggle="plot" data-placement="auto right" data-content="剧情：{{comic_info.plot}}">
                            <a>简介</a></div>
                    </div>
                </div>
                <div class="pt-5" style="min-height: 100px;border-top: solid 1px #eee;border-bottom: dashed 1px orange">
                    <div class="f-l">
                        <div class="c-999">类型：{{comic_info.type}}</div>
                        <div class="c-999">状态：{{comic_info.status}}</div>
                        <div class="c-999">
                            分享： <i class="icon Hui-iconfont Hui-iconfont-yiguanzhu c-red"></i> {{comic_info.share_times}}
                            <span class="c-orange f-r">
                            <a class="ml-10" style="text-decoration: none" title="更新时间:{{comic_info.up_time|showtime}}"><i
                            class="icon Hui-iconfont Hui-iconfont-shijian"></i> {{comic_info.up_time|datetime}}</a></span>
                        </div>
                        <div class="c-999">作者： <i class="icon Hui-iconfont Hui-iconfont-banzhu c-orange"></i>
                            {{comic_info.author}}
                        </div>
                        <div class="c-red"><span class="c-999">热度：</span>
                            {{ hotStar(comic_info.share_times) }}

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- 漫画信息 END-->

</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $('.maskWraper').Huihover();
    $("[data-toggle='plot']").popover();
    $('.waitLoad').lazyload();

    $('.album-item>a').on('click',function () {
        var id = $(this).attr('name');
        if(id){
            location.assign('/mht/comic/' + id + '/look.html')
        }else{
            $.Huimodalalert('网络异常！！！',3000);
        }
    });
</script>
{% endblock %}